{%load static%}
<html>
<head>
<body style = "background-color:#4287f5;">
<title>CV</title>
<style>
	h1
	{color:#361869;}
	h1{font-family: sans-serif;}
	p{font-size: larger;}
	p{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
</style>
<h1><u>Bio</u></h1>
<h1><i>My name is Jesse Lustig, I am an aspiring software engineer with a passion for problem solving, creating and technology, I love helping people and want to make the world a better place.</i></h1>

<h1>Name:Jesse</h1>

<h1>Surname:Lustig</h1>

<h1>Phone:0670087489</h1>

<h1>Email:jesselustig46@gmail.com</h1>

<h1>Education:King David Victory Park Highschool.</h1>

<h1>Education:Hyperiondev software engineering bootcamp. </h1>

<h1>Projects include:Data bases,Calculators and games.</h1>

<h1>skills:Python,sqlite and html</h1>


<center><img src="{% static 'images/me.jfif' %}" /></center>
<br>
<br>
<center><u><h1>Linkedin_website</h1></u></center>
<center><a href="https://za.linkedin.com/">Linkedin.com</a></center>

<center><u><h1>github website</h1></u></center>
<center><a href="https://github.com/">github.com</a></center>
<br>
<center><img src="{% static 'images/python.jfif' %}" width="100" height="100" /><img src="{% static 'images/css.png' %}" width="100" height="100"/><img src="{% static 'images/sqlite.jfif' %}" width="100" height="100"/><img src="{% static 'images/html.png' %}" width="100" height="100"/></center>